/* google fonts */

@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter&family=Lobster&family=Poppins&display=swap");

/* page body */

body {
  font-family: "Poppins", sans-serif;
  background-color: #ffffff;
}
/* main css style */
img {
  display: block;
}
h1 {
  margin: 0;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container {
  background: #161616;
  border-radius: 30px;
  max-width: 1321px;
  margin: 20px;
}
.players {
  display: flex;
}
.players .player-body {
  flex: 1;
}
.player-body img {
  width: 100%;
}
.player-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 30px;
}
.player-body h1 {
  line-height: 1;
  color: #ffffff;
  font-weight: 700;
  font-size: 70px;
}
.player-body p {
  color: #ffffff;
  font-size: 10px;
  font-weight: 400;
  font-size: 16px;
}
.button-watch {
  font-size: 20px;
}
.player-body button {
  font-size: 20px;
  background-color: #dd0000;
  padding: 16px 25px;
  border-radius: 5px;
  border: none;
  color: #ffffff;
  width: 200px;
}
/* player section  */

.fixer {
  background: #161616;
  /* width: 300px; */
  display: flex;
  flex-direction: column;
  gap: 2em;
  padding: 1em;
  align-items: center;
  border: 5px solid #161616;
}
.fixer,
.links {
  border-radius: 10px;
}
.links {
  padding: 1em;
  background: white;
  width: 180px;
  text-align: center;
}
.active {
  background-color: red;
  color: white;
}
/* card */
.sort-clip {
  /* width: 80%;
  margin: 0 auto; */
  margin-top: 100px;
  display: flex;
  gap: 20px;
}

.fixer {
  height: 250px;
}
.main-card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  justify-content: space-around;
}
.card {
  /* background-color: rgba(169, 168, 168, 0.3); */
  padding: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}
.card-img img {
  width: 100%;
}
.btn-transfer {
  margin-top: 5px;
  font-size: 16px;
}
.btn-transfer button {
  padding: 8px;
  border-radius: 5px;
}
.card-heading {
  font-weight: 600;
  font-size: 18px;
}
.card-icon-container {
  display: flex;
  align-items: center;
  column-gap: 4em;
  margin-left: 10px;
  margin-top: -12px;
}

/* FOOTER */
footer {
  margin-top: 100px;
}
.footer-container {
  display: flex;
  flex-direction: column;
  gap: 2.5em;
  background-color: #161616;
  color: white;
  text-align: center;
  padding-block: 5em;
}
.hr {
  height: 3px;
  background-color: #ffffff;
  width: 80%;
  margin: 0 auto;
}
footer ul {
  display: flex;
  justify-content: center;
  gap: 2em;
  flex-wrap: wrap;
}
footer ul li {
  list-style: none;
}

/* responsive website */
@media only screen and (max-width: 830px) {
  .sort-clip {
    flex-direction: column;
  }
  .fixer {
    flex-direction: row;
    justify-content: space-between;
    border: none;
  }
  .main-card-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (max-width: 375px) {
  .main-card-container {
    grid-template-columns: 1fr;
  }
}
